<div id="<%= dom_id haiku %>">
  <p>
    <strong>Username:</strong>
    <%= haiku.username %>
  </p>

  <p>
    <strong>Line1:</strong>
    <%= haiku.line1 %>
  </p>

  <p>
    <strong>Line2:</strong>
    <%= haiku.line2 %>
  </p>

  <p>
    <strong>Line3:</strong>
    <%= haiku.line3 %>
  </p>

</div>
